.App {
  text-align: center;
}

.navbar{
  background-color: #4b90c4;
  color: white;
}

/* .mb-3{
  margin: 10px;
} */

.form-field{
  text-align: left;
}

.btn-search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: 25px;
}

.job-detail{
  text-align: left;
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn-back{
  text-align: left;
  align-items: left;
}

.job-list{
  text-align: left;
}
